{
  "extends": [
    "react-app",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error", {"endOfLine": "auto"}],
    "react-hooks/exhaustive-deps":  "off"
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "env": {
    "es6": true
  },
  "globals": {
    "document": true
  }
}
