.add-pictures-page {
  @include container();

  &__dropzone {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &__item {
    padding-top: 1rem;
    border-bottom: 1px solid #fed136;

    &:last-child {
      border-bottom: none;
    }
  }

  &__go-back {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 2rem;
  }

  &__images {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
  }

  &__image {
    position: relative;

    cursor: pointer;
    overflow: hidden;

    &:hover {
      .add-pictures-page__image-action {
        transform: translateY(0);
      }
    }

    &-action {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;

      text-align: center;

      transform: translateY(-50px);
      transition: .5s;

      background: rgba(0,0,0,0.6);
    }
  }
}

@media (max-width: 767px) {
  .add-pictures-page {
    padding: 0 10px;
  }
}
