.checkbox {
  &__control {
    & .rc-checkbox-input {
      width: 20px;
      height: 20px;
    }

    & .rc-checkbox-inner {
      width: 20px;
      height: 20px;

      &::after {
        left: calc(50% - 3px);
        top: calc(50% - 6px);
      }
    }
  }

  .rc-checkbox-checked .rc-checkbox-inner {
    background-color: #fed136;
    border-color: #fed136;
  }
  .rc-checkbox:hover .rc-checkbox-inner, .rc-checkbox-input:focus + .rc-checkbox-inner {
    border-color: #fed136;
  }

  .rc-checkbox-input:indeterminate + .rc-checkbox-inner {
    background: red;
  }

  &-group {
    display: flex;

    &__list {
      & .field__error {
        display: none;
      }
    }

    &__item {
      flex-grow: 1;
      margin-bottom: 15px;

      & .field__control-container {
        flex-grow: 0;
      }

      &-label {
        margin-bottom: 10px;
      }
    }

    &__sub-items {
      padding-left: 20px;
    }
  }
}
