.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 10px;

  border: 1px solid #fed136;
  box-sizing: border-box;

  text-align: center;

  &__text {
    margin-left: 1rem;
  }
}
