.field {
  &__label {
    display: block;
    margin-bottom: 10px;

    font-size: 14px;
  }

  &__control-container {
    flex-grow: 1;
  }

  &--left,
  &--right {
    display: flex;
  }

  &--left {
    .field__label {
      margin-right: 30px;
    }
  }

  &--right {
    .field__label {
      margin-left: 5px;
      order: 5;
    }
  }

  &__error {
    height: 18px;

    font-size: 14px;
    line-height: 18px;
    color: red;
  }
}
