.input-rates {
  &__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;

    margin-bottom: 10px;
  }

  &__control {
    margin-right: 10px;
  }

  &__label {
    font-size: 12px;
    color: #6c6c6c;
  }
}
