.scroll-button {
  position: fixed;
  right: 20px;
  bottom: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 80px;

  color: #fff;

  background-color: #fed136;
  border-radius: 50%;
  opacity: 0.9;
  transition: 0.3s;
  z-index: 1;

  &:hover {
    opacity: 1;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  }

  &--hide,
  &--hide:hover {
    opacity: 0;
  }
}

@media (max-width: 767px) {
  .scroll-button {
    display: none;
  }
}
