.ul {
  list-style: none;
  padding-left: 0;

  &__title {
    font-size: 1rem;
    margin: 0;
  }
}

.li {
  position: relative;
  padding-left: 1rem;
  margin-bottom: 0.5rem;

  font-size: 14px;

  &::before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    width: 4px;
    height: 4px;

    background-color: #fed136;
  }
}
